//
//  Release.xcconfig
//  Numero
//
//  Created by tskim on 07/10/2019.
//  Copyright © 2019 Facebook. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "BuildType/Release.BuildType.xcconfig"
#include "Common/Common.xcconfig"

ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
DISPLAY_NAME = AssinCICD
PRODUCT_NAME = AssinCICD
PRODUCT_BUNDLE_IDENTIFIER = com.assin.continuousci2
APP_IDENTIFIER = com.assin.continuousci2
